@import "../../../../../sass/variables/colors/colors.scss";
@import "../../../../../sass/variables/fonts/fonts.scss";
@import "../../../../../sass/variables/common/common.scss";

.main-content{
  .response-to-user{
    @include font-style($prompt, 1rem, 400, $dark-font-color);
    display: inline-block;
  }
  .success-on-add{
    color: $dark-green
  }
  
  .fail-on-add{
    color: $dark-red
  }

  .form{

    .form-label{
      @include font-style($prompt, 1rem, 400, $dark-font-color);
    }

    .form-control{
      @include font-style($prompt, 1rem, 400,$dark-font-color);
      &:focus{
        border-color: $purple-500;
        box-shadow: 0 0 0 .25rem #9147ff79;
      }
    }

    .btn.btn-primary{
      background-color: $purple-700;
      border-color: $purple-700;
      width: 7rem;
      @include font-style($prompt, 1.15rem, 300, $light-font-color);
      line-height: 1.75rem;
      justify-self: center;
    }

    .error-block{
      height: 1.25rem;
      vertical-align: middle;
      line-height: 1.25rem;
      .error-message{
        @include font-style( $prompt, .75rem, normal, $light-red )
      }
    }

    .reset-form-on-submit-block{
      .reset-form-label{
        @include font-style( $prompt, 1rem, normal, $dark-font-color );
        cursor: pointer;
      }
      .checkbox{
        padding: .25rem;
        background-color: $dark-red;
        width: 2.25rem;
        height: 1.25rem;
        border-radius: 1rem;
        cursor: pointer;
        
        .checkbox-status{
          float: left;
          background-color: $gray-100;
          width: .75rem;
          border-radius: 1rem;
          height: 100%;
        }
      }

      input#reset-form:checked + .checkbox{
        background-color: $dark-green;
        .checkbox-status{
          float: right;
        }
      }
    }
  }
}

@media (max-width: 585px){
  .main-content{
    .response-to-user{
      font-size: .9rem;
    }
  
    .form{
      .row > div{
        width: 100%;
      }
      .form-label{
        font-size: .9rem
      }
  
      .form-control{
        font-size: .9rem;
      }
  
      .btn.btn-primary{
        font-size: 1rem;
      }
  
      .reset-form-on-submit-block{
        margin: .25rem 0;
        .reset-form-label{
          font-size: .9rem;
        }
      }
    }
  }
}