@import "../../../../sass/variables/colors/colors.scss";
@import "../../../../sass/variables/fonts/fonts.scss";
@import "../../../../sass/variables/common/common.scss";

.container{
  padding: 1rem $padding-x-desktop ;
  width: 100%;

  .page-title{
    @include font-style($sriracha, 2rem, bold, $purple-800);
  }
  .navbar{
    .navbar-nav{
      .nav-item{
        .nav-link{
          position: relative;
          @include font-style($prompt, 1rem, normal, $dark-font-color);

          &.active:after{
            content: "";
            position: absolute;
            bottom: .5rem;
            left: 10%;
            width: 80%;
            height: .15rem;
            background-color: $purple-700;
          }
        }
      }
    }
  }       
}