<div id="App">
  <app-default-header></app-default-header>
  <main class="d-grid" *ngIf="userData !== undefined && userData._id; else elseBlock">
    <app-aside-nav-bar
    [userId]="userData._id"
    ></app-aside-nav-bar>
    <router-outlet></router-outlet>
  </main>
  <ng-template #elseBlock>
    <app-loader *ngIf="!responseReturnsError; else responseError" ></app-loader>
  </ng-template>
  <ng-template #responseError>
    <div class="response-error text-center">
      <p class="mb-1">Não foi possível carregar a página</p>
      <p class="mb-3">Problemas internos :( </p>
      <button class="btn btn-primary" (click)="signOut()">
        Sair
      </button>
    </div>
  </ng-template>
</div>
