@import "../../../sass/variables/colors/colors.scss";
@import "../../../sass/variables/fonts/fonts.scss";
@import "../../../sass/variables/common/common.scss";

#App{
  background-color: $gray-200;
  position: relative;
}
.loader{
  min-height: calc(100vh - 5rem);
  min-height: calc(100dvh - 5rem);
  place-items: center;
  .spinner-border{
    width: 5rem;
    height: 5rem;
  }
}

main.d-grid{
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 'menu main-content';
}