@import "../../../sass/variables/colors/colors.scss";
@import "../../../sass/variables/fonts/fonts.scss";
@import "../../../sass/variables/common/common.scss";

.aside-menu{
  background-color: $purple-800;
  min-height: calc(100vh - 5rem);
  min-height: calc(100dvh - 5rem);
  padding-left: $padding-x-desktop;
  padding-right: 1rem;
  width: 100%;
  max-width: 15.625rem;
  position: sticky;
  left: 0;
  top: 5rem;
  .navbar{
    .navbar-nav{
      gap: 2rem;
      .nav-item{
        cursor: pointer;
        .nav-link{
          img{
            width: 2.5rem
          }
          @include font-style($prompt, 1.1rem, normal, $light-font-color);
        }
      }
    }
  }
}