@import "../../../sass/variables/colors/colors.scss";
@import "../../../sass/variables/fonts/fonts.scss";
@import "../../../sass/variables/common/common.scss";

.aside-menu{
  background-color: $purple-800;
  min-height: calc(100vh - 5rem);
  min-height: calc(100dvh - 5rem);
  padding-left: $padding-x-desktop;
  padding-right: 1rem;
  width: 100%;
  max-width: 15.625rem;
  position: sticky;
  left: 0;
  top: 5rem;
  .navbar{
    .navbar-nav{
      gap: 2rem;
      .nav-item{
        cursor: pointer;
        .nav-link{
          img{
            width: 2.5rem
          }
          @include font-style($prompt, 1.1rem, normal, $light-font-color);
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .aside-menu{
    padding-left: calc($padding-x-desktop - 2rem);
    .navbar{
      .navbar-nav{
        gap: 2rem;
        .nav-item{
          cursor: pointer;
          .nav-link{
            img{
              width: 2.35rem
            }
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 825px) {
  .aside-menu{
    padding: .5rem calc($padding-x-desktop - 2rem) !important;
    min-height: 2rem;
    max-height: 4rem;
    height: 100%;
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: unset;
    bottom: 0 !important;
    grid-row: 2;
    z-index: 1010;
    .navbar{
      padding: 0;
      .navbar-nav{
        flex-direction: row !important;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        height: 100%;
        .nav-item{
          cursor: pointer;
          width: min-content !important;
          .nav-link{
            span{
              display: none;
            }
            img{
              width: 2rem;
              height: 100%;
            }
            font-size: 1rem;
          }
        }
      }
    }
  }
}