<div class="main-content">
  <form [formGroup]="searchTasksFormController" class="search-form mb-3">
    <div class="input-block">
      <input type="text" id="search-tasks-input" class="form-control"
      formControlName="searchBar"
      placeholder=" "
      autocomplete="off"
      (input)="searchByTyping()"
      >
      <label for="search-tasks-input" class="floating-label">
        Pesquisar por nome
      </label>
      <img src="../../../../../assets/search-icon.svg" alt="" class="search-icon">
    </div>
  </form>
  <div class="content {{contentDivClasses}}">
    <p *ngIf="userAllTasks?.length === 0" class="text-center w-100 no-task-add-message">
      Nenhuma task adicionada ainda :(
    </p>
    <p *ngIf="userAllTasks?.length! >= 1 && tasksToShow?.length === 0" class="text-center w-100 no-task-found-message">
        Nenhuma task foi encontrada nessa busca
    </p>
    <article class="task-block p-2 rounded-3 d-flex flex-column" *ngFor="let task of tasksToShow">
      <div class="title-box mb-2 d-flex justify-content-between align-items-center">
        <h3 class="task-title m-0">{{task.name}}</h3>
        <img *ngIf="task.done; else elseDoneIcon" src="../../../../../assets/status_checkbox-right.svg" alt="status-box">
        <ng-template #elseDoneIcon>
          <img src="../../../../../assets/status_checkbox-x.svg" alt="status-box">
        </ng-template>
      </div>
      <div class="description m-0 mt-2">
        <h4 class="task-description-title mb-1">Descrição:</h4>
        <p class="task-description mb-1">{{task.description}}</p>
      </div>
      <div class="task-dates-block m-0 mt-2">
        <p class="tast-dates mb-1">Registro: {{task.register_date | date:"dd/MM/yyyy"}}</p>
        <p class="tast-dates mb-1">Data de entrega: {{task.delivery_date | date:"dd/MM/yyyy"}}</p>
      </div>
      <a routerLink="/user-logged/{{userId}}/task/{{task._id}}" class="btn btn-primary rounded-3 mt-4 see-more-button mx-auto">Detalhes

      </a>
    </article>
    <div class="error-block w-100 text-center" *ngIf="responseReturnError === true; else elseTasks_2">
      <p>Não foi possível carregar suas tasks :(</p>
    </div>
    <ng-template #elseTasks_2>
      <app-loader *ngIf="!userAllTasks"></app-loader>
    </ng-template>
  </div>
</div>