@import "../../../../../sass/variables/colors/colors.scss";
@import "../../../../../sass/variables/fonts/fonts.scss";
@import "../../../../../sass/variables/common/common.scss";

.loader{
  place-content: center;
}

.error-block{
  @include font-style($prompt, 1.25rem, 400, $dark-font-color);
  min-height: 100%;
}

.main-content{

  .search-form{
    .input-block{
      position: relative;
      max-width: 25rem;
      margin-left: auto;
      height: 2.5rem;
      .form-control{
        width: 100%;
        height: 100%;
        background-color: $gray-200;
        border: .1rem solid $purple-800;
        padding-right: 2.1rem;

        &:focus{
          box-shadow: none;
        }
      }
      .floating-label{
        position: absolute;
        padding: 1rem;
        bottom: -.45rem;
        z-index: 2;
        @include font-style($prompt, .9rem, normal, #575656);
        transition: all .3s ease-in-out;
      }
      & > .form-control:focus~.floating-label, & > .form-control:not(:placeholder-shown)~.floating-label{
        transform: translateY(-170%) translateX(1rem);
        color: $dark-font-color;
        padding: 0 .5rem;
        background-color: $gray-200;
      }

      .search-icon{
        width: 1.5rem;
        position: absolute;
        bottom: .5rem;
        right: .5rem;
      }
    }
  }

  .content{
    grid-template-columns: repeat(3, 17.5rem);

    .no-task-add-message,.no-task-found-message{
      @include font-style($prompt, 1.1rem, 400, $dark-font-color);
    }

    .task-block{
      background-color: $gray-100;
      width: 100%;
      height: 16rem;
  
      .task-title{
        @include font-style($sriracha, 1.5rem, normal, $purple-800);
        max-width: 13rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
  
      .description{
        width: 100%;
        .task-description-title,.task-description{
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          @include font-style($prompt, 1.15rem, normal, $dark-font-color);
        }
        .task-description{
          font-size: 1rem;
        }
      }
  
      .task-dates-block{
        .tast-dates{
          @include font-style($prompt, 1rem, 400, $dark-font-color);
          &:last-child{
            font-weight: 500  
          }
        }
      }
      .see-more-button{
        background-color: $purple-700;
        border-color: $purple-700;
        max-width: 8rem;
        width: 100%;
        @include font-style($prompt, 1.15rem, 300, $light-font-color);
        line-height: 1.75rem;
      }
    }
  }
}

@media (min-width: 1680px) {
  .main-content{
    .content{
      column-gap: 2rem !important;
      grid-template-columns: repeat(4, calc(25% - 1.5rem));

      .task-block{
        height: 18rem;

        .task-title{
          max-width: 15rem;
        }
      }
    }
  }
}

@media (min-width: 1400px) and (max-width: 1679px) {
  .main-content{
    .content{
      column-gap: 2rem !important;
      grid-template-columns: repeat(3, calc(33% - 1rem));

      .task-block{
        height: 18rem;

        .task-title{
          max-width: 16rem;
        }
      }
    }
  }
}

@media (max-width: 1350px) {
  .main-content{
    .content{
      column-gap: 2rem !important;
      grid-template-columns: repeat(2, calc(50% - 1rem)) ;
    }
  }
}

@media (max-width: 992px) {
  .main-content{
    .search-form{
      .input-block{
        max-width: 22rem;
      }
    }
  
    .content{
      column-gap: 2rem !important;
  
      .task-block{
        .task-title{
          font-size: 1.4rem;
          max-width: 12rem;
        }

        .description{
          .task-description-title,.task-description{
            font-size: 1rem;
          }
          .task-description{
            font-size: .95rem;
          }
        }

        .task-dates-block{
          .tast-dates{
            font-size: .9rem;
          }
        }

        .see-more-button{
          font-size: 1rem;
          max-width: 7rem;
          margin-top: 1rem !important;
        }
      }
    }
  }
}

@media (max-width: 585px) {
  .main-content{
    .search-form{
      .input-block{
        height: 2.25rem;
        margin-top: .5rem;

        .form-control{
          width: 100%;
          height: 100%;
          background-color: $gray-200;
          border: .1rem solid $purple-800;
          padding-right: 2.1rem;
  
          &:focus{
            box-shadow: none;
          }
        }
        .floating-label{
          position: absolute;
          padding: 1rem;
          bottom: -.55rem;
          z-index: 2;
          font-size: .85rem;
        }
        & > .form-control:focus~.floating-label, & > .form-control:not(:placeholder-shown)~.floating-label{
          transform: translateY(-170%) translateX(.75rem);
          color: $dark-font-color;
          padding: 0 .5rem;
          background-color: $gray-200;
        }
  
        .search-icon{
          width: 1.25rem;
          position: absolute;
          bottom: .5rem;
          right: .5rem;
        }
      }
    }

    .content{
      grid-template-columns: 1fr;

      .task-block{
        .task-title{
          max-width: 20rem;
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .main-content{
    .content{
      .task-block{
        .task-title{
          max-width: 15rem;
        }
      }
    }
  }
}

@media (max-width: 330px) {
  .main-content{
    .content{
      .task-block{
        .task-title{
          max-width: 12rem;
        }
      }
    }
  }
}