@import "../../../../../sass/variables/colors/colors.scss";
@import "../../../../../sass/variables/fonts/fonts.scss";
@import "../../../../../sass/variables/common/common.scss";

.loader{
  place-content: center;
}

.content{
  grid-template-columns: repeat(3, 17.5rem) ;

  .task-block{
    background-color: $gray-100;
    width: 100%;
    height: 16rem;

    .task-title{
      @include font-style($sriracha, 1.5rem, normal, $purple-800);
      max-width: 80%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .description{
      width: 100%;
      .task-description-title,.task-description{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        @include font-style($prompt, 1.15rem, normal, $dark-font-color);
      }
      .task-description{
        font-size: 1rem;
      }
    }

    .task-dates-block{
      .tast-dates{
        @include font-style($prompt, 1rem, 400, $dark-font-color);
        &:last-child{
          font-weight: 500  
        }
      }
    }
    .see-more-button{
      background-color: $purple-700;
      border-color: $purple-700;
      max-width: 8rem;
      width: 100%;
      @include font-style($prompt, 1.15rem, 300, $light-font-color);
      line-height: 1.75rem;
    }
  }
}