.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  place-items: center;
  background-color: #1c01245b;
  z-index: 1010;
  .spinner-border{
    width: 5rem;
    height: 5rem;
  }
}