<div class="container">
  <div  *ngIf="!task && !getResponseOnGetError && !taskNotFound; else loadingComplete" class="loader d-grid">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <ng-template #loadingComplete>
    <div class="error-block" *ngIf="getResponseOnGetError || taskNotFound; else taskFound">
      <p *ngIf="taskNotFound !== true; else taskNotFoundTrue">
        Problemas internos no servidor :(
      </p>
      <ng-template #taskNotFoundTrue>
        <p *ngIf="taskNotFound === true">
          Nenhuma tarefa foi encontrada :(
        </p>
      </ng-template>
    </div>
  </ng-template>
  <ng-template #taskFound>
    <article class="main-content h-100 w-100">
      <header class="task-name-block d-flex mb-4 flex-column gap-0">
        <div class="d-flex align-items-center justify-content-between
        row-gap-3 name-time-block mb-4">
          <h2 class="task-name mb-0">
            {{task.name}}
          </h2>
          <div class="task-action-buttons d-flex gap-4">
            <button (click)="backPage()" class="btn btn-primary" tabindex="0">
              Voltar a tela inicial
            </button>
            <a class="btn btn-primary" [routerLink]="pathToEditTask" tabindex="0">
              Editar
            </a>
            <button class="btn btn-primary" type="button"
            (click)="deleteCurrentTask()"
            tabindex="0"
            >
              Excluir
            </button>
          </div>
        </div>
        <div class="checkbox-block d-flex gap-3 h-100 align-items-center">
          <label for="status" class="status-text">
            {{inputControll ? 'Feita' : 'A fazer'}}
          </label>
          <input id="status" type="checkbox" class="visually-hidden d-none"
          [checked]="inputControll"
          #doneStatus
          >
          <div class="checkbox-bg" (click)="setTaskStatus()" (keydown)="onEnterKeyDown($event)" tabindex="0">
            <div class="radio"></div>
          </div>
        </div>
      </header>
      <div class="dates mb-4 d-flex gap-3">
        <p class="resgister-date mb-1">
          Data de registro: {{task.register_date | date:"dd/MM/yyyy" }}
        </p>
        <p class="delivery-date mb-1">
          Data de entrega: {{task.delivery_date | date:"dd/MM/yyyy" }}
        </p>
        <p class="task-on-time-status mb-1 {{overdueOrOnTimeTaskClassToAdd}}" >
          {{overdueOrOnTimeTaskStatus}}
        </p>
      </div>
      <section class="task-description-block mb-4">
        <h4 class="mb-1">
          Descrição:
        </h4>
        <p class="task-description" [innerText]="task.description">
        </p>
      </section>
      <div class="error-block mt-4" *ngIf="getErrorOnDelete">
        <p >
          Não foi possível excluir a tarefa, tente novamente mais tarde
        </p>
      </div>
    </article>
  </ng-template>
</div>