@import "../../../../sass/variables/colors/colors.scss";
@import "../../../../sass/variables/fonts/fonts.scss";
@import "../../../../sass/variables/common/common.scss";

.container{
  padding: 2rem $padding-x-desktop;
  width: 100%;
  height: 100%;
}

.error-block{
  @include font-style($prompt, 1.25rem, 400, $dark-font-color);
  min-height: 100%;
  place-content: center;
  text-align: center;
}

.main-content{
  .task-name-block{
    .name-time-block{
      flex-wrap: wrap;
      .task-name{
        @include font-style($sriracha, 2.25rem, bold, $purple-800);
        white-space: wrap;
        text-wrap: wrap;
        text-overflow: ellipsis;
        word-wrap: break-word;
        max-width: 60%;
        width: 100%;
        overflow: hidden;
      }
    }

    .checkbox-bg{
      width: 4.5rem;
      height: 2rem;
      background-color: $gray-100;
      box-shadow: 0 0 .5rem $gray-500;
      border-radius: 2rem;
      padding: .35rem;
      cursor: pointer;
    }
    
    .status-text{
      @include font-style($prompt, 1.15rem, 400, $dark-font-color);
      min-width: 4rem;
      cursor: pointer;
    }

    .radio{
      position: relative;
      width: 1.25rem;
      height: 100%;
      border-radius: 100%;
      background-color: $dark-red;
      transition: all .4s ease-in-out, background-color .5s ease-out;
      &::after{
        content: "";
        position: absolute;
        left: 42.5%;
        bottom: .242rem;
        width: .2rem;
        height: 67.5%;
        background-color: $gray-300;
        transform: rotate(45deg);
        transition: all .5s ease-out;
      }
      &::before{
        content: "";
        position: absolute;
        right: 40%;
        bottom: .242rem;
        width: .2rem;
        height: 67.5%;
        background-color: $gray-300;
        transform: rotate(-45deg);
        transition: all .5s ease-out;
      }
    }
    input#status.changing-done-status + .checkbox-bg{
      cursor: default;
    }
    input#status:checked + .checkbox-bg{
      .radio{
        transform: translateX(200%);
        background-color: $dark-green;
        &::after{
          content: "";
          position: absolute;
          left: 30%;
          bottom: .3rem;
          width: .5rem;
          height: 65%;
          border-radius: 0 0 .05rem 0;
          background-color: transparent;
          transform: rotate(45deg);
          border-right: .2rem solid $gray-300 ;
          border-bottom: .2rem solid $gray-300 ;
        }
        &::before{
          width: 0;
          transform: rotate(45deg);

        }
      }
    }
  } // .task-name-block end

  .task-description-block{
    h4{
      @include font-style($prompt, 1.25rem, 400, $dark-font-color);
    }
    p.task-description{
      @include font-style($prompt, 1rem, 400, $dark-font-color);
      margin-left: 1.5rem;
      text-wrap: wrap;
      word-wrap: break-word;
      white-space: wrap;
    }
  }

  .dates{
    p{
      background-color: $purple-800;
      @include font-style($prompt, 1rem, 400, $light-font-color);
      padding: .75rem;
      border-radius: .25rem;
      box-shadow: 0 0 .75rem .15rem $gray-400;

      &.overdue{
        background-color: $dark-red !important;
      }

      &.on-time{
        background-color: $medium-green !important; //#001b91
        color: $dark-font-color;
      }

      &.delivered{
        background-color: $dark-green !important;
      }
    }
  }

  .task-action-buttons{
    .btn-primary{
      transition: transform .3s ease-in-out;
      @include font-style($prompt, 1rem, 300, $light-font-color);
      &:hover{
        transform: scale(1.1);
      }
      &:focus{
        transform: scale(1.05);
        box-shadow: 0 0 0 .25rem #9147ff79;
      }

      &:not(:last-child){
        background-color: $purple-900;
        border-color: $purple-900;
        filter: drop-shadow( 0 0 .225rem $purple-900);
      }

      &:last-child{
        color: $light-font-color;
        background-color: $dark-red;
        border-color: $dark-red;
        filter: drop-shadow( 0 0 .225rem $dark-red) brightness(.9);
        &:focus{
          transform: scale(1.05);
          box-shadow: 0 0 0 .25rem #d6200079;
        }
      }
    }
  }

  .error-block{
    font-size: 1rem;
    color: $dark-red;
  }
}

@media (min-width: 1400px) {
  .container{
    max-width: 100%;
  }

  .error-block{
    font-size: 1.5rem;
  }

  .main-content{
    .task-name-block{
      .name-time-block{
        flex-wrap: wrap;
        .task-name{
          font-size: 2.75rem;
          max-width: 65%;
        }
      }
  
      .checkbox-bg{
        width: 5.5rem;
        height: 2.5rem;
        background-color: $gray-100;
        box-shadow: 0 0 .5rem $gray-500;
        border-radius: 2rem;
        padding: .35rem;
        cursor: pointer;
      }
      
      .status-text{
        font-size: 1.25rem;
        font-weight: 500;
        min-width: 4.5rem;
      }
  
      .radio{
        width: 1.75rem;
        &::after{
          left: 43%;
          bottom: .3rem;
          width: .2rem;
          height: 70.5%;
        }
        &::before{
          right: 41%;
          bottom: .3rem;
          width: .2rem;
          height: 70.5%;
        }
      }

      input#status:checked + .checkbox-bg{
        .radio{
          transform: translateX(170%);
          &::after{
            left: 35%;
            bottom: .4rem;
            width: .6rem;
            height: 75%;
          }
        }
      }
    } // .task-name-block end
  
    .task-description-block{
      h4{
        font-size: 1.4rem;
      }
      p.task-description{
        font-size: 1.25rem;
        margin-left: 1.5rem;
      }
    }
  
    .dates{
      p{
        font-size: 1.35rem;
        font-weight: 300;
      }
    }
  
    .task-action-buttons{
      .btn-primary{
        font-size: 1.25rem;
      }
    }
  
    .error-block{
      font-size: 1rem;
    }
  }
  
}

@media (max-width: 992px) {
  .container{
    padding: 1.5rem calc($padding-x-desktop - 2rem);
  }

  .main-content{

    .task-name-block{
      .name-time-block{
        flex-wrap: wrap;
        .task-name{
          font-size: 1.75rem; 
          max-width: 100%;
        }
      }
    }
    .dates{
      p{
        font-size: .9rem;
      }
    }
  }
}

@media (max-width: 825px) {
  .container {
    max-width: 85%;
    padding: 1.5rem 0;
  }

  .main-content{
    .task-name-block{
      .name-time-block{
        flex-wrap: wrap;
        .task-name{
          font-size: 1.75rem;
        }
      }
  
      .checkbox-bg{
        width: 4rem;
        height: 1.75rem;
      }
      
      .status-text{
        font-size: 1rem;
        min-width: 3.4rem;
      }
  
      .radio{
        width: 1.15rem;
        &::after{
          bottom: .15rem;
          width: .2rem;
          height: 75.5%;
        }
        &::before{
          bottom: .15rem;
          width: .2rem;
          height: 75.5%;
        }
      }

      input#status:checked + .checkbox-bg{
        .radio{
          transform: translateX(190%);
          &::after{
            bottom: .275rem;
          }
        }
      }
    } // .task-name-block end
  
    .task-description-block{
      h4{
        font-size: 1rem
      }
      p.task-description{
        font-size: .9rem;
        margin-left: 0;
        padding: 0;
      }
    }
  
    .dates{
      flex-direction: column;
      p{
        max-width: 15rem;
        text-align: center;
      }
    }
  
    .task-action-buttons{
      gap: 1rem !important;

      .btn-primary{
        font-size: .9rem;
      }
    }
  
    .error-block{
      font-size: 1rem;
      color: $dark-red;
    }
  }
}

// @media (max-width: 425px) {
//   .main-content{
//     .task-action-buttons{

//     }
//   }

// }