<div class="container d-grid pageAction" >
  <div class="row w-100 rounded-5">
      <div class="form-block rounded-start-5 col-6">
        <app-login-form></app-login-form>
      </div>
      <div class="form-block rounded-end-5 col-6">
        <app-sign-up-form></app-sign-up-form>
      </div>
    <div class="squares-block d-block rounded-start-5">
      <div class="login-page-squares d-grid gap-3 h-100 w-100">
        <div class="checklist-square">
          <img src="../assets/right-icon.svg" alt="right-icon" />
        </div>
        <div class="checklist-square">
          <img src="../assets/x-icon.svg" alt="x-icon" />
        </div>
        <div class="checklist-square">
          <img src="../assets/x-icon.svg" alt="right-icon" />
        </div>
        <div class="checklist-square">
          <img src="../assets/right-icon.svg" alt="x-icon" />
        </div>
        <div class="checklist-square">
          <img src="../assets/right-icon.svg" alt="right-icon" />
        </div>
        <div class="checklist-square">
          <img src="../assets/x-icon.svg" alt="x-icon" />
        </div>
      </div>
      <div class="sign-up-page-squares d-flex gap-3 flex-column justify-content-center w-100 h-100">
        <div class="checklist-square align-items-center justify-content-start d-flex mx-auto gap-2">
          <img src="../assets/right-icon.svg" alt="right-icon" />
          <span>Organização</span>
        </div>
        <div class="checklist-square d-flex align-items-center justify-content-start mx-auto gap-2">
          <img src="../assets/right-icon.svg" alt="right-icon" />
          <span>Praticidade</span>
        </div>
        <div class="checklist-square d-flex align-items-center justify-content-start mx-auto gap-2">
          <img src="../assets/right-icon.svg" alt="right-icon" />
          <span>Qualidade</span>
        </div>
        <div class="checklist-square d-flex align-items-center justify-content-start mx-auto gap-2">
          <img src="../assets/right-icon.svg" alt="right-icon" />
          <span>Intuitivo</span>
        </div>
        <div class="checklist-square d-flex align-items-center justify-content-start mx-auto gap-2">
          <img src="../assets/right-icon.svg" alt="right-icon" />
          <span>Gratuíto</span>
        </div>
      </div>
    </div>
  </div>
</div>