@import "../../../../sass/variables/colors/colors.scss";
@import "../../../../sass/variables/fonts/fonts.scss";

.error-block{
  height: min-content;
  min-height: 1.25rem;
  vertical-align: middle;
  .error-message{
    @include font-style( $prompt, .75rem, normal, $light-red )
  }
}

.userRegistered{
  .redirect-btn{
    position: relative;
    background-color: $purple-100;
    border-color: $purple-700;
    border-width: .15rem;
    max-width: 12rem;
    min-width: 8rem;
    @include font-style($prompt, 1rem, 400,$dark-font-color);
    z-index: 1;
    transition: .3s ease-in-out;

    &::before{
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: .2rem;
      background-color: $purple-700;
      z-index: -1;
      transition: width .5s ease-in-out;
    }
    
    &:hover{
      color: $light-font-color;
      &::before{
        width: 100%;
      }
    }
  } // .login-btn end
}

.page-title{
  @include font-style($prompt, 2.5rem, 300,$purple-700)
}

#sign-up-form{
  .forget-password{
    background-color: transparent;
    border-color: transparent;
    @include font-style($prompt, 1rem, 400,$dark-font-color);
    &:hover{
      text-decoration: underline;
    }
  }

  .form-label{
    @include font-style($prompt, 1rem, 400,$dark-font-color)
  }

  .form-control{
    background-color: $purple-300;
    @include font-style($prompt, 1rem, 300,$dark-font-color)
  }

  .login-btn,.sign-up-btn{
    position: relative;
    background-color: $purple-100;
    border-color: $purple-700;
    border-width: .15rem;
    max-width: 12rem;
    min-width: 8rem;
    @include font-style($prompt, 1rem, 400,$dark-font-color);
    z-index: 1;
    transition: .3s ease-in-out;

    &::before{
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: .2rem;
      background-color: $purple-700;
      z-index: -1;
      transition: width .5s ease-in-out;
    }
    
    &:hover{
      color: $light-font-color;
      &::before{
        width: 100%;
      }
    }
  } // .login-btn end

  #go-to-login,#go-to-register{
    background-color: transparent;
    @include font-style($prompt, .9rem, 400,$dark-font-color);
    border-color: transparent;
    max-width: 12rem;
    min-width: 8rem;
    & > span{
      color: $purple-700;
    }
    &:hover{
      text-decoration: underline;
    }
  }
}

@media (max-width: 1024px) {
  .userRegistered{
    .redirect-btn{
      font-size: 1rem;
    } // .login-btn end
  }
  
  .page-title{
    font-size: 2.25rem;
  }
  
  #sign-up-form{
    .forget-password{
      font-size: .9rem;
    }
  
    .form-label{
      font-size: 1rem;
      margin-bottom: .25rem;
    }
  
    .login-btn,.sign-up-btn{
      font-size: 1rem;
    } 
  
    #go-to-login,#go-to-register{
      font-size: .9rem;
    }
  }
}

@media (max-width: 867px){
  .error-block{
    .error-message{
      font-size: .65rem;
    }
  }
  .page-title{
    font-size: 1.75rem;
  }

  #sign-up-form{
    .forget-password{
      font-size: .9rem;
    }

    .form-control{
      font-size: .9rem;

    }
  
    .form-label{
      font-size: .9rem;
      margin-bottom: .25rem;
    }
  
    .login-btn,.sign-up-btn{
      font-size: .9rem;
      max-width: 8rem;
      min-width: 6rem;
    } 
  
    #go-to-login,#go-to-register{
      font-size: .8rem;
    }
  }
}

@media (max-width: 725px) {
  
}