@import "../../../sass/variables/colors/colors.scss";
@import "../../../sass/variables/fonts/fonts.scss";

.container{
  min-height: 100vh;
  min-height: 100dvh;
  .row{
    position: relative;
    max-height: 32rem;
    height: 100%;
    place-self: center;
    background-color: $purple-100;
    img{
      width: 100%;
      height: 100%;
      padding: 1rem;
    }
    .squares-block{
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      bottom: 0;
      width: 50%;
      background-color: $purple-700;
      padding: 1.5rem 3rem;
      height: 100%;
      transition: all 1s ease-in-out;
      overflow: hidden;
      
      .login-page-squares{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        transform: translateY(0);
        transition: 2s ease-in-out;
        .checklist-square{
          border: .5rem solid $gray-1000;
          width: 8rem;
          height: 8rem;
          place-self: center;
        }
      }

      .sign-up-page-squares{
        transform: translateY(-200%);
        transition: 2s ease-in-out;
        .checklist-square{
          width: 100%;
          max-width: 18.75rem;
          img{
            border: .2rem solid $gray-1000;
            width: 3rem;
            height: 3rem;
            padding: .4rem;
          }
          span{
            @include font-style($sriracha, 2.5rem, 100,$gray-1000);
          }
        }
      }
    }

    .form-block{
      background-color: $purple-100;
      height: 100%;
      padding: 1.5rem 3rem;
      transition: all 0s ease-in-out;
      
    }  // .form-block end
  } // .row end  
} // .container end

.container.signUp{
  .row{
    .squares-block{
      transform: translateX(100%);
      border-radius: 0 2rem 2rem 0 !important;
      .login-page-squares{
        transform: translateY(150%);
      }
      .sign-up-page-squares{
        transform: translateY(-100%);
      }
    }
  }
}