<div class="container">
  <app-loader *ngIf="!taskData && !errorOnLoadTaskData"></app-loader>
  <div *ngIf="errorOnLoadTaskData" class="load-data-error">
    <span class="text-center d-block mt-3">
      Não foi possível carregar os dados da tarefa :(
    </span>
  </div>
  <div *ngIf="taskData" class="header d-flex justify-content-between">
    <button (click)="backPage()" class="btn btn-primary back-page d-inline-block" tabindex="0">
      Voltar
    </button>
    <h3 class="fs-3 text-center mb-5" >
      Editar tarefa
    </h3>
  </div>
  <form
    [formGroup]="formController"
    class="form d-grid row-gap-3"
    (submit)="handleSubmit()"
    *ngIf="formController"
  >
    <span
    class="get-error-response mb-2"
    *ngIf="getErrorOnEdit !== false"
    >
      Problemas ao editar tarefa, tente novamente mais tarde
    </span>
    <span
    class="get-same-data mb-2"
    *ngIf="getSameTaskData"
    >
      Nenhuma informação alterada, tarefa não editada
    </span>
    <div class="row">
      <div class="col-6">
        <label for="task-name" class="form-label mb-1">Nome da Tarefa</label>
        <input
          formControlName="name"
          [value]="formController.value?.name"
          type="text"
          id="task-name"
          class="form-control"
        />
        <div class="error-block">
          <span
            class="error-message"
            *ngIf="
              formController.controls?.['name']?.touched &&
              (formController.value.name?.length === 0 || formController.controls?.['name']?.getError('haveOnlyWhiteSpace'))
            "
            >Campo obrigatório *</span
          >
        </div>
      </div>
      <div class="col-2">
        <label for="status" class="status-text text-center d-block mb-1">
          {{radioInputStatus ? 'Feita' : 'A fazer'}}
        </label>
        <input id="status" type="checkbox" class="visually-hidden d-none"
        [checked]="radioInputStatus"
        >
        <div class="checkbox-bg mx-auto" (click)="setTaskStatus()" (keydown)="onEnterKeyDown($event)" tabindex="0">
          <div class="radio"></div>
        </div>
      </div>
      <div class="col-4">
        <label for="task-delivery-date" class="form-label mb-1"
        >Data de entrega</label
      >
      <input
        formControlName="delivery_date"
        type="text"
        id="task-delivery-date"
        class="form-control mb-1"
        [dropSpecialCharacters]="false"
        mask="d0/M0/0000"
        [leadZeroDateTime]="true"
        [showMaskTyped]="true"
        [value]="formController.value?.delivery_date"
      />
      <div class="error-block">
        <span
          class="error-message"
          *ngIf="
            formController.value.delivery_date?.length === 0 &&
            formController.controls?.['delivery_date']?.touched
          "
          >Campo obrigatório *</span
        >
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="task-description" class="form-label mb-1"
          >Descrição da tarefa:</label
        >
        <textarea
          formControlName="description"
          class="form-control"
          id="task-description"
          cols="30"
          rows="5"
          placeholder="Descrição..."
          [value]="formController.value?.description"
        ></textarea>
        <div class="error-block">
          <span
            class="error-message"
            *ngIf="
              formController.controls?.['description']?.touched &&
              (formController.value.description.length === 0 || formController.controls?.['description']?.getError('haveOnlyWhiteSpace'))
            "
            >Campo obrigatório *</span
          >
        </div>
      </div>
    </div>
    <button [disabled]="!formController.valid" type="submit" class=" btn btn-primary d-block mx-auto">
      Salvar
    </button>
  </form>
</div>
