<div id="App" class="d-grid place-items-center">
  <div class="container rounded-5 p-4">
    <h2 class="text-center title mb-4">Recuperar senha</h2>
    <div class="action-response-to-user" *ngIf="successOnChangePassword !== null">
      <span [changePasswordStatusResponse]="successOnChangePassword">
        {{ successOnChangePassword ? 'Senha alterada com sucesso' : 'Email não encontrado' }}
      </span>
    </div>
    <form [formGroup]="formController" (submit)="changePassword()">
      <div class="mb-3">
        <label for="user-email" class="form-label">Seu email</label>
        <input type="text" readonly disabled id="user-email" [value]="formController.value.email" class="form-control">
      </div>
      <div class="mb-3">
        <label for="user-new-password" class="form-label">Sua nova senha</label>
        <input type="text" id="user-new-password" formControlName="newPassword" class="form-control">
        <div class="error-block">
          <span class="error-message" *ngIf="formController.controls['newPassword'].value?.length === 0 && formController.controls['newPassword'].touched; else elsePassword">
            Campo obrigatório *
          </span>
          <ng-template #elsePassword>
            <span class="error-message"
            *ngIf="formController.controls['newPassword'].touched && formController.get('newPassword')?.errors"
            >
              A senha deve possuir no mínimo 3 caracteres
            </span>
            <span class="error-message" *ngIf="serverError">Problemas no servidor, tente novamente mais tarde</span>
          </ng-template>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4 gap-3">
        <a class="btn btn-primary go-back-button" routerLink="/">
          Voltar
        </a>
        <button [disabled]="successOnChangePassword !== null" type="submit" class="btn btn-primary save-button">
          Alterar
        </button>
      </div>
    </form>
  </div>
</div>